<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Syslog.Server.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Syslog.Server.Settings>
            <setting name="ListenIPAddress" serializeAs="String">
                <value>ANY</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>514</value>
            </setting>
            <setting name="BufferFlushFrequency" serializeAs="String">
                <value>30</value>
            </setting>
        </Syslog.Server.Settings>
    </applicationSettings>
</configuration>