<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="handlerSection" type="Syslog.Server.Config.HandlerSection, Syslog.Server, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere"/>
  </configSections>

  <appSettings>
    <add key="listenPort" value="514"/>

    <!--
      Enter a specific IPv4 or the value Any.
      If the listenIPAddress value is Any, the service will listen on all available IP's.
    -->
    <add key="listenIPAddress" value="Any"/>
    
    <!-- The number of seconds between message log buffer flushes -->
    <add key="bufferFlushFrequency" value="30"/>
  </appSettings>

  <handlerSection>
    <handlers>
      <!-- <add assemblyName="Syslog.BarracudaWebFilter" storageClassName="SqlClient" parserClassName="Parser" filterIPAdresses="172.0.0.2" connectionString="Data Source=;Initial Catalog=;user id=;password=" ipForwards="" /> -->
      <!-- <add assemblyName="Syslog.BarracudaSpamFilter" storageClassName="SqlClient" parserClassName="Parser" filterIPAdresses="172.0.0.3" connectionString="Data Source=;Initial Catalog=;user id=;password=" ipForwards="" /> -->
    </handlers>
  </handlerSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
