<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="handlerSection" type="Syslog.Server.Config.HandlerSection, Syslog.Server, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Syslog.Server.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<Syslog.Server.Settings>
			<setting name="ListenIPAddress" serializeAs="String">
				<value>Any</value>
			</setting>
			<setting name="ListenPort" serializeAs="String">
				<value>514</value>
			</setting>
			<setting name="BufferFlushFrequency" serializeAs="String">
				<value>30</value>
			</setting>
		</Syslog.Server.Settings>
	</applicationSettings>

  <handlerSection>
    <handlers>
       <add assemblyName="Syslog.GenericFilter" storageClassName="SqlClient" parserClassName="GenericParser" filterIPAdresses="" connectionString="Data Source=;Initial Catalog=;user id=;password=" ipForwards="" /> 
      <!-- <add assemblyName="Syslog.BarracudaSpamFilter" storageClassName="SqlClient" parserClassName="Parser" filterIPAdresses="172.0.0.3" connectionString="Data Source=;Initial Catalog=;user id=;password=" ipForwards="" /> -->
    </handlers>
  </handlerSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
